* {
	font-family: Roboto;
	font-size: 14px;
    font-weight: 600;
    color: white;
}
tooltip {
	background: #121012;
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    font-size: 12px;
    font-weight: 400;
    color: white;
}
window#waybar {
	background: alpha(#121012, 0.6);
}
box.horizontal {
	padding: 0 5px;
}
box.horizontal.modules-right widget > label {
	padding: 12px 10px;
}
#tray {
    padding: 0 8px;
}
#custom-system {
    padding: 0 10px;
}
#custom-media.stopped {
    padding: 0;
    margin: 0;
}
#workspaces {
	padding: 0;
}
#workspaces button {
	padding: 0 5px;
	border: none;
	border-radius: 0;
    opacity: 0.5;
}
#workspaces button:hover {
    background: none;
}
#workspaces button.active {
    opacity: 1;
}
#window {
	padding: 0;
    margin: 0 0 0 10px;
}
.deactivated,
#network.disconnected,
#bluetooth.off,
#wireplumber.muted {
    opacity: 0.5;
}
#battery.warning {
    color: #FFB86C;
}
#battery.critical {
    color: #FF5555;
}
#battery.charging {
    color: #50FA7B;
}
